		<section class="section white">
			<div class="container">
				<div class="section-title text-center">
					<h4>Contact Us</h4>
					<hr>
					<p>We Wanna Hear From You </p>
				</div><!-- end title -->

				<div class="row">
					<div class="col-md-8 col-sm-8 col-xs-12">
						<div class="contact_form comment-form-wrap wow fadeIn">
							<div id="message"></div>
							<form id="contactform" class="row" action="contact.php" name="contactform" method="post">
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
									<input type="text" name="公司名稱" id="name" class="form-control" placeholder="公司名稱"> 
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
									<input type="text" name="公司地址" id="address" class="form-control" placeholder="公司地址"> 
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
									<input type="text" name="E-mail" id="mail" class="form-control" placeholder="E-mail"> 
								</div>

								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
									<input type="text" name="連絡電話" id="phone" class="form-control" placeholder="連絡電話"> 

								</div>
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<textarea class="form-control" name="comments" id="comments" rows="6" placeholder="Message Below"></textarea>
									<button type="submit" value="SEND" id="submit" class="btn btn-primary btn-block"> Send Your Message</button>
								</div>
							</form> 
						</div>
					</div><!-- end col -->
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="contact-info">
							<h4>Contact Information</h4>

								<div class="service-style-2 icon-left row wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
									<div class="col-md-2">
										<i class="fa fa-envelope"></i>
									</div>
									<div class="col-md-10 nopadding">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ristique. Lconsectetur adipiscing elit ristique</p>
										<span>- 7oroof@7oroof.com</span>
										<span>- 002 01065370701</span>
									</div>
								</div><!-- end service -->

							<div class="clearfix"></div>

							<h4>Business Hours</h4>

								<div class="service-style-2 icon-left row wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
									<div class="col-md-2 ">
										<i class="fa fa-clock-o"></i>
									</div>
									<div class="col-md-10 nopadding">
									<p>Monday – Friday : 9am to 20 pm<br>
									Saturday : 9am to 17 pm<br>
									Sunday : day off</p>
									</div>
								</div><!-- end service -->

						</div><!-- end contact info -->
					</div><!-- end col -->
				</div><!-- end row -->
			</div><!-- end container -->
		</section><!-- end section -->

		<section class="framesection">
			<div id="map"></div>
		</section><!-- end framesection -->