<%= render 'admin/common/header' %>
<section>
  <%= render 'admin/common/leftpanel' %>

  <div class="mainpanel">
    <div class="contentpanel">

      <ol class="breadcrumb breadcrumb-quirk">
        <li><i class="fa fa-home mr5"></i> Home</li>
        <li>分類管理</li>
      </ol>
      我希望在這一頁就能直接增加目錄＆即時顯示增加的項目
      <!-- content goes here... -->
    </div><!-- contentpanel -->
  </div><!-- mainpanel -->
</section>