<section class="section white">
	<div class="container">
		<div id="page-wrapper" class="row">
			<div id="content" class="col-md-12 col-sm-12 col-xs-12">

				<div class="row">
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="blog-list blog-style-2">
							<div class="blog-image">
								<img src="upload/blog_06.jpg" alt="">
								<div class="blog-time">
									<h3>18</h3>
									<p>May, 2014</p>
								</div><!-- blog-time -->
							</div><!-- end blog-image -->
							<div class="blog-title">
								<h4><a href="blog-single-rs.html">Blog Tiltle Shall Be Here !</a></h4>

								<p>Duis dapibus aliquam mi, eget euismod sem scelerisque ut. Vivamus at elit quis urna adipiscing iaculis vitae velit isneque dictum blandit Proin.</p>
							</div><!-- end blog-title -->
						</div><!-- end bloglist -->
					</div><!-- end col -->
				</div>
			</div>
		</div>
	</div>
</section>
<div class="backtotop">Scroll to Top</div>
