<section class="section white">
	<div class="container">
		<div id="page-wrapper" class="row">
			<div id="content" class="col-md-12 col-sm-12 col-xs-12">

				<div class="row">
					<% @posts.each do |f| %>
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="blog-list blog-style-2">
								<div class="blog-image">
									<%= image_tag f.image_url(:info_r).to_s %>
									<div class="blog-time">
										<h3>18</h3>
										<p>May, 2014</p>
									</div><!-- blog-time -->
								</div><!-- end blog-image -->
								<div class="blog-title">
									<h4><%= link_to f.title, post_path(f) %></a></h4>

									<p><%= f.content %></p>
								</div><!-- end blog-title -->
							</div><!-- end bloglist -->
						</div><!-- end col -->
					<% end %>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="backtotop">Scroll to Top</div>


