		<section class="section white">
			<div class="container">

            <div class="portfolio-filter text-center">
				<a href="#" class="filter active" data-filter="*">All</a>
				<a href="#" class="filter" data-filter=".cat1">Photography</a>
				<a href="#" class="filter" data-filter=".cat2">Design</a>
				<a href="#" class="filter" data-filter=".cat3">Development</a>
				<a href="#" class="filter" data-filter=".cat4">Branding</a>
			</div>   

			<ul class="portfolio-grid portfolio-gallery-3 clearfix masonry" id="portfolio-grid">
				<li class="portfolio-item mix cat1">
					<div class="portfolio-style-1 entry wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
						<img src="upload/pg_09.png" alt="">
						<div class="magnifier">
							<div class="visible-title">
								<h4><a href="portfolio-single-1.html">Project Name</a></h4>
								<small><a href="portfolio-gallery-wd-rs-3.html">Category</a></small>
							</div><!-- end visible-title -->

							<div class="visible-title1 clearfix">
								<span class="pull-left">
									<a data-rel="prettyPhoto" href="upload/portfolio_01.png"><i class="fa fa-search"></i></a>
									<a href="portfolio-gallery-wd-rs-3.html"><i class="fa fa-link"></i></a>
								</span>
								<span class="pull-right">
									<a href="#"><i class="fa fa-heart"></i> 300</a>
								</span>
							</div><!-- end visible-title -->
						</div><!-- end magnifier -->
					</div><!-- end portfolio -->
				</li>

				<li class="portfolio-item mix cat2">
					<div class="portfolio-style-1 entry wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
						<img src="upload/pg_10.png" alt="">
						<div class="magnifier">
							<div class="visible-title">
								<h4><a href="portfolio-single-1.html">Project Name</a></h4>
								<small><a href="portfolio-gallery-wd-rs-3.html">Category</a></small>
							</div><!-- end visible-title -->

							<div class="visible-title1 clearfix">
								<span class="pull-left">
									<a data-rel="prettyPhoto" href="upload/portfolio_01.png"><i class="fa fa-search"></i></a>
									<a href="portfolio-gallery-wd-rs-3.html"><i class="fa fa-link"></i></a>
								</span>
								<span class="pull-right">
									<a href="#"><i class="fa fa-heart"></i> 300</a>
								</span>
							</div><!-- end visible-title -->
						</div><!-- end magnifier -->
					</div><!-- end portfolio -->
				</li>

				<li class="portfolio-item mix cat3">
					<div class="portfolio-style-1 entry wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
						<img src="upload/pg_11.png" alt="">
						<div class="magnifier">
							<div class="visible-title">
								<h4><a href="portfolio-single-1.html">Project Name</a></h4>
								<small><a href="portfolio-gallery-wd-rs-3.html">Category</a></small>
							</div><!-- end visible-title -->

							<div class="visible-title1 clearfix">
								<span class="pull-left">
									<a data-rel="prettyPhoto" href="upload/portfolio_01.png"><i class="fa fa-search"></i></a>
									<a href="portfolio-gallery-wd-rs-3.html"><i class="fa fa-link"></i></a>
								</span>
								<span class="pull-right">
									<a href="#"><i class="fa fa-heart"></i> 300</a>
								</span>
							</div><!-- end visible-title -->
						</div><!-- end magnifier -->
					</div><!-- end portfolio -->
				</li>

				<li class="portfolio-item mix cat4">
					<div class="portfolio-style-1 entry wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
						<img src="upload/pg_12.png" alt="">
						<div class="magnifier">
							<div class="visible-title">
								<h4><a href="portfolio-single-1.html">Project Name</a></h4>
								<small><a href="portfolio-gallery-wd-rs-3.html">Category</a></small>
							</div><!-- end visible-title -->

							<div class="visible-title1 clearfix">
								<span class="pull-left">
									<a data-rel="prettyPhoto" href="upload/portfolio_01.png"><i class="fa fa-search"></i></a>
									<a href="portfolio-gallery-wd-rs-3.html"><i class="fa fa-link"></i></a>
								</span>
								<span class="pull-right">
									<a href="#"><i class="fa fa-heart"></i> 300</a>
								</span>
							</div><!-- end visible-title -->
						</div><!-- end magnifier -->
					</div><!-- end portfolio -->
				</li>

				<li class="portfolio-item mix cat1 cat2 cat3">
					<div class="portfolio-style-1 entry wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
						<img src="upload/pg_13.png" alt="">
						<div class="magnifier">
							<div class="visible-title">
								<h4><a href="portfolio-single-1.html">Project Name</a></h4>
								<small><a href="portfolio-gallery-wd-rs-3.html">Category</a></small>
							</div><!-- end visible-title -->

							<div class="visible-title1 clearfix">
								<span class="pull-left">
									<a data-rel="prettyPhoto" href="upload/portfolio_01.png"><i class="fa fa-search"></i></a>
									<a href="portfolio-gallery-wd-rs-3.html"><i class="fa fa-link"></i></a>
								</span>
								<span class="pull-right">
									<a href="#"><i class="fa fa-heart"></i> 300</a>
								</span>
							</div><!-- end visible-title -->
						</div><!-- end magnifier -->
					</div><!-- end portfolio -->
				</li>
				<li class="portfolio-item mix cat1 cat2 cat3">
					<div class="portfolio-style-1 entry wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
						<img src="upload/pg_14.png" alt="">
						<div class="magnifier">
							<div class="visible-title">
								<h4><a href="portfolio-single-1.html">Project Name</a></h4>
								<small><a href="portfolio-gallery-wd-rs-3.html">Category</a></small>
							</div><!-- end visible-title -->

							<div class="visible-title1 clearfix">
								<span class="pull-left">
									<a data-rel="prettyPhoto" href="upload/portfolio_01.png"><i class="fa fa-search"></i></a>
									<a href="portfolio-gallery-wd-rs-3.html"><i class="fa fa-link"></i></a>
								</span>
								<span class="pull-right">
									<a href="#"><i class="fa fa-heart"></i> 300</a>
								</span>
							</div><!-- end visible-title -->
						</div><!-- end magnifier -->
					</div><!-- end portfolio -->
				</li>
				<li class="portfolio-item mix cat1 cat2 cat3">
					<div class="portfolio-style-1 entry wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
						<img src="upload/pg_10.png" alt="">
						<div class="magnifier">
							<div class="visible-title">
								<h4><a href="portfolio-single-1.html">Project Name</a></h4>
								<small><a href="portfolio-gallery-wd-rs-3.html">Category</a></small>
							</div><!-- end visible-title -->

							<div class="visible-title1 clearfix">
								<span class="pull-left">
									<a data-rel="prettyPhoto" href="upload/portfolio_01.png"><i class="fa fa-search"></i></a>
									<a href="portfolio-gallery-wd-rs-3.html"><i class="fa fa-link"></i></a>
								</span>
								<span class="pull-right">
									<a href="#"><i class="fa fa-heart"></i> 300</a>
								</span>
							</div><!-- end visible-title -->
						</div><!-- end magnifier -->
					</div><!-- end portfolio -->
				</li>
				<li class="portfolio-item mix cat1 cat2 cat3">
					<div class="portfolio-style-1 entry wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
						<img src="upload/pg_11.png" alt="">
						<div class="magnifier">
							<div class="visible-title">
								<h4><a href="portfolio-single-1.html">Project Name</a></h4>
								<small><a href="portfolio-gallery-wd-rs-3.html">Category</a></small>
							</div><!-- end visible-title -->

							<div class="visible-title1 clearfix">
								<span class="pull-left">
									<a data-rel="prettyPhoto" href="upload/portfolio_01.png"><i class="fa fa-search"></i></a>
									<a href="portfolio-gallery-wd-rs-3.html"><i class="fa fa-link"></i></a>
								</span>
								<span class="pull-right">
									<a href="#"><i class="fa fa-heart"></i> 300</a>
								</span>
							</div><!-- end visible-title -->
						</div><!-- end magnifier -->
					</div><!-- end portfolio -->
				</li>
				<li class="portfolio-item mix cat1 cat2 cat3">
					<div class="portfolio-style-1 entry wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
						<img src="upload/pg_12.png" alt="">
						<div class="magnifier">
							<div class="visible-title">
								<h4><a href="portfolio-single-1.html">Project Name</a></h4>
								<small><a href="portfolio-gallery-wd-rs-3.html">Category</a></small>
							</div><!-- end visible-title -->

							<div class="visible-title1 clearfix">
								<span class="pull-left">
									<a data-rel="prettyPhoto" href="upload/portfolio_01.png"><i class="fa fa-search"></i></a>
									<a href="portfolio-gallery-wd-rs-3.html"><i class="fa fa-link"></i></a>
								</span>
								<span class="pull-right">
									<a href="#"><i class="fa fa-heart"></i> 300</a>
								</span>
							</div><!-- end visible-title -->
						</div><!-- end magnifier -->
					</div><!-- end portfolio -->
				</li>
			</ul><!-- end row -->
			<div class="button-wrapper text-center">
				<a href="#" class="btn btn-primary border-radius btn-lg btn-dark">More Portfolio Items</a> 
			</div><!-- end button wrapper -->
			</div>
		</section><!-- end section -->

