		<header id="headeraffix" class="header" data-spy="affix" data-offset-top="60" data-offset-bottom="200">
			<div class="container">
				<div class="row mb-5">
					<div class="col-md-12">
						<nav class="yamm navbar navbar-default" role="navigation">
							<div class="container-fluid">
								<div class="navbar-table">
									<div class="navbar-cell tight">
										<div class="navbar-header">
											<a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="Ova"></a>
											<div>
												<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
													<span class="sr-only">Toggle navigation</span>
													<span class="fa fa-bars"></span>
												</button>
											</div>
										</div><!-- end navbar-header -->
									</div><!-- end navbar-cell -->

									<div class="navbar-cell stretch">
										<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
											<div class="navbar-cell">
												<ul class="nav navbar-nav navbar-right">
													<li class="dropdown yamm-fw"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Home <b class="fa fa-angle-down"></b></a>
														<ul class="dropdown-menu">
															<li>
																<div class="yamm-content">
																	<div class="row">
																		<div class="col-md-3 col-xs-12 nopadding">
																			<div class="box">
																				<ul>
																					<li><a href="home-agency-1.html">Home Agency 01</a></li>
																					<li><a href="home-agency-2.html">Home Agency 02</a></li>
																					<li><a href="home-corporate-1.html">Home Corporate 01</a></li>
																					<li><a href="home-corporate-2.html">Home Corporate 02</a></li>
																					<li><a href="home-creative-1.html">Home Creative 01</a></li>
																					<li><a href="home-creative-2.html">Home Creative 02</a></li>
																					<li><a href="home-landing-1.html">Home Landing 01</a></li>
																					<li><a href="home-landing-2.html">Home Landing 02</a></li>
																					<li><a href="home-onepage.html">Home Onepage</a></li>
																					<li><a href="home-classic.html">Home Classic</a></li>
																				</ul>
																			</div><!-- end box -->
																		</div><!-- end col -->
																		<div class="col-md-3 col-xs-12 nopadding">
																			<div class="box">
																				<ul>
																					<li><a href="home-portfolio-1.html">Home Portfolio 01</a></li>
																					<li><a href="home-portfolio-2.html">Home Portfolio 02</a></li>
																					<li><a href="home-photography-1.html">Home Photography 01</a></li>
																					<li><a href="home-photography-2.html">Home Photography 02</a></li>
																					<li><a href="home-showcase.html">Home Showcase</a></li>
																					<li><a href="home-blog-1.html">Home Blog 01</a></li>
																					<li><a href="home-blog-2.html">Home Blog 02</a></li>
																					<li><a href="home-shop-1.html">Home Shop 01</a></li>
																					<li><a href="home-shop-2.html">Home Shop 02</a></li>
																					<li><a href="index.html">Home Default</a></li>
																				</ul>
																			</div><!-- end box -->
																		</div><!-- end col -->
																		<div class="col-md-3 col-xs-12 nopadding">
																			<div class="box">
																				<ul>
																					<li><a href="home-dark.html">Home Dark Version</a></li>
																					<li><a href="home-boxed.html">Home Boxed Version</a></li>
																					<li><a href="home-app.html">Home App Version</a></li>
																					<li><a href="home-beauty.html">Home Beauty Version</a></li>
																					<li><a href="home-education.html">Home Education Version</a></li>
																					<li><a href="home-event.html">Home Event Version</a></li>
																					<li><a href="home-fitness.html">Home Fitness Version</a></li>
																					<li><a href="home-health.html">Home Health Version</a></li>
																					<li><a href="home-hosting.html">Home Hosting Version</a></li>
																					<li><a href="home-hotel.html">Home Hotel Version</a></li>
																				</ul>
																			</div><!-- end box -->
																		</div><!-- end col -->
																		<div class="col-md-3 col-xs-12 nopadding">
																			<div class="box">
																				<ul>
																					<li><a href="home-religion.html">Home Religion Version</a></li>
																					<li><a href="home-lawyer.html">Home Lawyer Version</a></li>
																					<li><a href="home-mechanic.html">Home Mechanic Version</a></li>
																					<li><a href="home-real-estate.html">Home Real Estate Version</a></li>
																					<li><a href="home-renovate.html">Home Renovate Version</a></li>
																					<li><a href="home-restaurant.html">Home Restaurant Version</a></li>
																					<li><a href="home-resume.html">Home Resume Version</a></li>
																					<li><a href="home-transport.html">Home Transport Version</a></li>
																					<li><a href="home-travel.html">Home Travel Version</a></li>
																					<li><a href="home-wedding.html">Home Wedding Version</a></li>
																				</ul>
																			</div><!-- end box -->
																		</div><!-- end col -->
																	</div><!-- end row -->
																</div><!-- end yamm-content -->
															</li>
														</ul>
													</li>
													<li class="dropdown yamm-fw"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Portfolio <b class="fa fa-angle-down"></b></a>
														<ul class="dropdown-menu">
															<li>
																<div class="yamm-content">
																	<div class="row">
																		<div class="col-md-3 col-xs-12 nopadding">
																			<div class="box">
																				<ul>
																					<li><a href="portfolio-fullwidth-1.html">Portfolio Fullwidth 01</a></li>
																					<li><a href="portfolio-fullwidth-2.html">Portfolio Fullwidth 02</a></li>
																					<li><a href="portfolio-fullwidth-3.html">Portfolio Fullwidth 03</a></li>
																					<li><a href="portfolio-gallery-1.html">Portfolio Gallery 01</a></li>
																					<li><a href="portfolio-gallery-2.html">Portfolio Gallery 02</a></li>
																					<li><a href="portfolio-gallery-3.html">Portfolio Gallery 03</a></li>
																					<li><a href="portfolio-gallery-4.html">Portfolio Gallery 04</a></li>
																					<li><a href="portfolio-gallery-rs-1.html">Portfolio RS 01</a></li>
																					<li><a href="portfolio-gallery-rs-2.html">Portfolio RS 02</a></li>
																				</ul>
																			</div><!-- end box -->
																		</div><!-- end col -->
																	
																		<div class="col-md-3 col-xs-12 nopadding">
																			<div class="box">
																				<ul>
																					<li><a href="portfolio-gallery-rs-3.html">Portfolio RS 03</a></li>
																					<li><a href="portfolio-gallery-ls-1.html">Portfolio LS 01</a></li>
																					<li><a href="portfolio-gallery-ls-2.html">Portfolio LS 02</a></li>
																					<li><a href="portfolio-gallery-ls-3.html">Portfolio LS 03</a></li>
																					<li><a href="portfolio-masonry.html">Portfolio Masonry</a></li>
																					<li><a href="portfolio-gallery-wd-1.html">Portfolio Gallery WD 01</a></li>
																					<li><a href="portfolio-gallery-wd-2.html">Portfolio Gallery WD 02</a></li>
																					<li><a href="portfolio-gallery-wd-3.html">Portfolio Gallery WD 03</a></li>
																					<li><a href="portfolio-gallery-wd-4.html">Portfolio Gallery WD 04</a></li>
																				</ul>
																			</div><!-- end box -->
																		</div><!-- end col -->

																		<div class="col-md-3 col-xs-12 nopadding">
																			<div class="box">
																				<ul>
																					<li><a href="portfolio-gallery-wd-rs-1.html">Portfolio Gallery WD RS 01</a></li>
																					<li><a href="portfolio-gallery-wd-rs-2.html">Portfolio Gallery WD RS 02</a></li>
																					<li><a href="portfolio-gallery-wd-rs-3.html">Portfolio Gallery WD RS 03</a></li>
																					<li><a href="portfolio-gallery-wd-ls-1.html">Portfolio Gallery WD LS 01</a></li>
																					<li><a href="portfolio-gallery-wd-ls-2.html">Portfolio Gallery WD LS 02</a></li>
																					<li><a href="portfolio-gallery-wd-ls-3.html">Portfolio Gallery WD LS 03</a></li>
																					<li><a href="portfolio-list-1.html">Portfolio List 01</a></li>
																					<li><a href="portfolio-list-2.html">Portfolio List 02</a></li>
																					<li><a href="portfolio-list-rs.html">Portfolio List RS</a></li>
																				</ul>
																			</div><!-- end box -->
																		</div><!-- end col -->

																		<div class="col-md-3 col-xs-12 nopadding">
																			<div class="box">
																				<ul>
																					<li><a href="portfolio-list-ls.html">Portfolio List LS</a></li>
																					<li><a href="portfolio-single-1.html">Portfolio Single 01</a></li>
																					<li><a href="portfolio-single-2.html">Portfolio Single 02</a></li>
																					<li><a href="portfolio-single-3.html">Portfolio Single 03</a></li>
																					<li><a href="portfolio-single-4.html">Portfolio Single 04</a></li>
																					<li><a href="portfolio-single-5.html">Portfolio Single 05</a></li>
																					<li><a href="portfolio-single-6.html">Portfolio Single 06</a></li>
																					<li><a href="portfolio-single-7.html">Portfolio Single 07</a></li>
																					<li><a href="portfolio-single-8.html">Portfolio Single 08</a></li>
																				</ul>
																			</div><!-- end box -->
																		</div><!-- end col -->

																	</div><!-- end row -->
																</div><!-- end yamm-content -->
															</li>
														</ul>
													</li>
													<li class="dropdown has-submenu">
														<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Blog <span class="fa fa-angle-down"></span></a>
														<ul class="dropdown-menu start-left" role="menu">
															<li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Blog Single <span class="fa fa-angle-right"></span></a>
																<ul class="dropdown-menu show-left" role="menu">
																	<li><a href="blog-single-fullwidth.html">Blog Single Full</a></li>
																	<li><a href="blog-single-rs.html">Blog Single RS</a></li>
																	<li><a href="blog-single-ls.html">Blog Single LS</a></li>
																</ul>
															</li>
															<li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Blog Single Format <span class="fa fa-angle-right"></span></a>
																<ul class="dropdown-menu show-left" role="menu">
																	<li><a href="blog-single-video-fullwidth.html">Blog Single Video Full</a></li>
																	<li><a href="blog-single-video-rs.html">Blog Single Video RS</a></li>
																	<li><a href="blog-single-video-ls.html">Blog Single Video LS</a></li>
																	<li><a href="blog-single-audio-fullwidth.html">Blog Single Audio Full</a></li>
																	<li><a href="blog-single-audio-rs.html">Blog Single Audio RS</a></li>
																	<li><a href="blog-single-audio-ls.html">Blog Single Audio LS</a></li>
																	<li><a href="blog-single-quote-fullwidth.html">Blog Single Quote Full</a></li>
																	<li><a href="blog-single-quote-rs.html">Blog Single Quote RS</a></li>
																	<li><a href="blog-single-quote-ls.html">Blog Single Quote LS</a></li>	
																	<li><a href="blog-single-gallery-fullwidth.html">Blog Single Gallery Full</a></li>
																	<li><a href="blog-single-gallery-rs.html">Blog Single Gallery RS</a></li>
																	<li><a href="blog-single-gallery-ls.html">Blog Single Gallery LS</a></li>
																</ul>
															</li>
															<li><a href="blog-1.html">Blog Style 01</a></li>
															<li><a href="blog-2.html">Blog Style 02</a></li>
															<li><a href="blog-3.html">Blog Style 03</a></li>
															<li><a href="blog-rs-1.html">Blog Style RS 01</a></li>
															<li><a href="blog-rs-2.html">Blog Style RS 02</a></li>
															<li><a href="blog-ls-1.html">Blog Style LS 01</a></li>
															<li><a href="blog-ls-2.html">Blog Style LS 02</a></li>
														</ul>
													</li>
													<li class="dropdown has-submenu">
														<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Shop <span class="fa fa-angle-down"></span></a>
														<ul class="dropdown-menu start-left" role="menu">
															<li><a href="shop-1.html">Shop Style 01</a></li>
															<li><a href="shop-2.html">Shop Style 02</a></li>
															<li><a href="shop-rs-1.html">Shop Style RS 01</a></li>
															<li><a href="shop-rs-2.html">Shop Style RS 02</a></li>
															<li><a href="shop-ls-1.html">Shop Style LS 01</a></li>
															<li><a href="shop-ls-2.html">Shop Style LS 02</a></li>
															<li><a href="shop-single-1.html">Shop Single 01</a></li>
															<li><a href="shop-single-2.html">Shop Single RS</a></li>
															<li><a href="shop-single-3.html">Shop Single LS</a></li>
															<li><a href="shop-checkout.html">Shop Checkout</a></li>
															<li><a href="shop-cart.html">Shopping Cart</a></li>
														</ul>
													</li>
													<li class="dropdown yamm-fw yamm-half"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Pages <b class="fa fa-angle-down"></b></a>
														<ul class="dropdown-menu">
															<li>
																<div class="yamm-content">
																	<div class="row">
																		<div class="col-md-4 col-xs-12 nopadding">
																			<div class="box">
																				<ul>
																					<li><a href="page-about-1.html">Page About 01</a></li>
																					<li><a href="page-about-2.html">Page About 02</a></li>
																					<li><a href="page-about-3.html">Page About 03</a></li>
																					<li><a href="page-services-1.html">Page Services 01</a></li>
																					<li><a href="page-services-2.html">Page Services 02</a></li>
																					<li><a href="page-services-3.html">Page Services 03</a></li>
																					<li><a href="page-team-1.html">Page Team 01</a></li>
																					<li><a href="page-team-2.html">Page Team 02</a></li>
																					<li><a href="page-team-3.html">Page Team 03</a></li>
																					<li><a href="page-testimonials.html">Page Testimonials</a></li>
																					<li><a href="page-faqs-1.html">Page Faqs 01</a></li>
																				</ul>
																			</div><!-- end box -->
																		</div><!-- end col -->
																		<div class="col-md-4 col-xs-12 nopadding">
																			<div class="box">
																				<ul>
																					<li><a href="page-faqs-2.html">Page Faqs 02</a></li>
																					<li><a href="page-faqs-3.html">Page Faqs 03</a></li>
																					<li><a href="page-pricing.html">Page Pricing</a></li>
																					<li><a href="page-404-1.html">Page Not Found 01</a></li>
																					<li><a href="page-404-2.html">Page Not Found 02</a></li>
																					<li><a href="page-404-3.html">Page Not Found 03</a></li>
																					<li><a href="page-coming-soon-1.html">Coming Soon 01</a></li>
																					<li><a href="page-coming-soon-2.html">Coming Soon 02</a></li>
																					<li><a href="page-coming-soon-3.html">Coming Soon 03</a></li>
																					<li><a href="page-coming-soon-4.html">Coming Soon 04</a></li>
																					<li><a href="page-maintenance.html">Maintenance Mode</a></li>
																				</ul>
																			</div><!-- end box -->
																		</div><!-- end col -->					
																		<div class="col-md-4 col-xs-12 nopadding">
																			<div class="box">
																				<ul>
																					<li><a href="page-loading-1.html">Loading Style 01</a></li>
																					<li><a href="page-loading-2.html">Loading Style 02</a></li>
																					<li><a href="page-fullwidth.html">Page Fullwidth</a></li>
																					<li><a href="page-rs.html">Page Right Sidebar</a></li>
																					<li><a href="page-ls.html">Page Left Sidebar</a></li>
																					<li><a href="page-contact-1.html">Page Contact 01</a></li>
																					<li><a href="page-contact-2.html">Page Contact 02</a></li>
																					<li><a href="page-contact-3.html">Page Contact 03</a></li>
																					<li><a href="page-contact-rs.html">Page Contact RS</a></li>
																					<li><a href="page-contact-ls.html">Page Contact LS</a></li>
																					<li><a href="landing.html">All Page Examples</a></li>
																				</ul>
																			</div><!-- end box -->
																		</div><!-- end col -->	
																	</div><!-- end row -->
																</div><!-- end yamm-content -->
															</li>
														</ul>
													</li>
													<li class="dropdown yamm-fw yamm-half"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Features <b class="fa fa-angle-down"></b></a>
														<ul class="dropdown-menu">
															<li>
																<div class="yamm-content">
																	<div class="row">
																		<div class="col-md-6 col-xs-12 nopadding">
																			<div class="box">
																				<ul>
																					<li><a href="features-typography.html">Typography</a></li>
																					<li><a href="features-columns.html">Columns</a></li>
																					<li><a href="features-icons.html">Font Icons</a></li>
																					<li><a href="features-buttons.html">Buttons</a></li>
																					<li><a href="features-alerts.html">Alerts</a></li>
																					<li><a href="features-tabs.html">Tab Elements</a></li>
																					<li><a href="features-accordion.html">Accordion & Toggle</a></li>
																					<li><a href="features-progress.html">Progress Bars</a></li>
																					<li><a href="features-parallax.html">Parallax Effects</a></li>
																					<li><a href="features-counts.html">Animated Counts</a></li>
																					<li><a href="features-boxes.html">Features Box</a></li>
																					<li><a href="features-forms.html">Form Fields</a></li>
																					<li><a href="features-tables.html">Tables</a></li>
																				</ul>
																			</div><!-- end box -->
																		</div><!-- end col -->
																		<div class="col-md-6 col-xs-12 nopadding">
																			<div class="box">
																				<ul>
																					<li><a href="features-popovers.html">Popovers & Modal</a></li>
																					<li><a href="features-slider.html">Slider & Carousel</a></li>
																					<li><a href="features-media.html">Media Elements</a></li>
																					<li><a href="features-header-1.html">Header Style 01</a></li>
																					<li><a href="features-header-2.html">Header Style 02</a></li>
																					<li><a href="features-header-3.html">Header Style 03</a></li>
																					<li><a href="features-header-4.html">Header Style 04</a></li>
																					<li><a href="features-header-5.html">Header Style 05</a></li>
																					<li><a href="features-header-6.html">Header Style 06</a></li>
																					<li><a href="features-header-7.html">Header Style 07</a></li>
																					<li><a href="features-header-8.html">Header Style 08</a></li>
																					<li><a href="features-header-9.html">Header Style 09</a></li>
																					<li><a href="landing.html">Much more..</a></li>
																				</ul>
																			</div><!-- end box -->
																		</div><!-- end col -->					
																	</div><!-- end row -->
																</div><!-- end yamm-content -->
															</li>
														</ul>
													</li>
													<li><a href="page-contact-1.html" title="">Contact</a></li>
													<li class="dropdown has-submenu shopcartmenu">
														<a href="#" class="dropdown-toggle cart" data-toggle="dropdown" role="button" aria-expanded="false"><small class="yellow">2</small> <i class="fa fa-shopping-cart"></i></a>
														<ul class="dropdown-menu start-right" role="menu">
															<li class="shopcart">
																<table class="table">
																	<tbody>
																		<tr class="row">
															            <td class="col-md-3"><img src="upload/cart_01.png" alt=""></td>
															            <td class="col-md-7">
															            	<h4>SWEATSHIRT</h4>
															            	<small> Price : $ 1000</small>
															            	<small> Quanity : 1</small>
															            </td>
															            <td class="col-md-2"><a href="#" class="closeme"><i class="fa fa-close"></i></a></td>
																		</tr>
																		<tr class="row">
															            <td class="col-md-3"><img src="upload/cart_02.png" alt=""></td>
															            <td class="col-md-7">
															            	<h4>SWEATSHIRT</h4>
															            	<small> Price : $ 1000</small>
															            	<small> Quanity : 1</small>
															            </td>
															            <td class="col-md-2"><a href="#" class="closeme"><i class="fa fa-close"></i></a></td>
																		</tr>
																	</tbody>
																</table>

																<div class="clearfix"></div>

																<div class="text-center">
																	<h3>CART SUBTOTAL: $320</h3>
																	<a href="#" class="btn btn-default btn-block">VIEW CART</a>
																	<a href="#" class="btn btn-primary btn-block">Proceed To Checkout</a>
																</div>
															</li>
														</ul>
													</li>
													<li class="dropdown has-submenu searchmenu">
														<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-search"></i></a>
														<ul class="dropdown-menu start-right" role="menu">
															<li>
													            <form id="custom-search-form" class="form-search form-horizontal">
													                <div class="input-append">
													                    <input type="text" class="search-query form-control" placeholder="Search">
													                    <button type="submit" class="btn"><i class="fa fa-search"></i></button>
													                </div>
													            </form>
															</li>
														</ul>
													</li>
												</ul>
											</div><!-- end navbar-cell -->
										</div><!-- /.navbar-collapse -->        
									</div><!-- end navbar cell -->
								</div><!-- end navbar-table -->
							</div><!-- end container fluid -->
						</nav><!-- end navbar -->
					</div><!-- end col -->
				</div><!-- end row -->
			</div><!-- end container -->
		</header>