<div class="topbar clearfix">
			<div class="container">
				<div class="row-fluid mb-5">
					<div class="col-md-12">
						<div class="pull-left">
							<div class="contactwrap text-left">
								<ul class="list-inline">
									<li><i class="fa fa-phone"></i> Call Us : 002 0106 5370701</li>
									<li><i class="fa fa-envelope"></i> Email Us : 002 0106 5370701</li>
								</ul>
							</div><!-- end contactwrap -->
						</div><!-- end col -->

						<div class="pull-right">
							<ul class="social">
								<li class="facebook" ><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li class="google"><a href="#"><i class="fa fa-google-plus"></i></a></li>
								<li class="pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
								<li class="vimeo"><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
								<li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
								<li class="dribbble"><a href="#"><i class="fa fa-dribbble"></i></a></li>
								<li class="youtube"><a href="#"><i class="fa fa-youtube"></i></a></li>
								<li class="rss"><a href="#"><i class="fa fa-rss"></i></a></li>
							</ul>
						</div><!-- end col -->
					</div>
				</div><!-- end row -->
			</div><!-- end container -->
		</div><!-- end topbar -->
